In [240]:
import os
import requests
import pandas as pd
import json
from dotenv import load_dotenv

%matplotlib inline

In [241]:
from nba_api.stats.static import players
from nba_api.stats.static import teams 
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import NumberOfGames, SeasonAll, SeasonTypeAllStar, LeagueIDNullable

In [242]:
#getting player's game ID
#how to use function: player_id("Player's Name")
#for example: team_id('LeBron James')

player_dict = players.get_players()
teams = teams.get_teams()

def player_id(playername):
    player = [player for player in player_dict if player['full_name'] == playername][0]
    player_id = player['id']
    return player_id

#getting team's ID
#how to use function: player_id("Team's Name") 
#for example: team_id('Golden State Warriors')
def team_id(teamname):
    team_find = [x for x in teams if x['full_name'] == teamname][0]
    team_id_no = team_find['id']
    return team_id_no

#creating a function to get player's data from specific year
#type game_log(playerID, season's year)
#for example: game_log(2544,2018)

def game_log(playerid,season):
    player_gamelog = playergamelog.PlayerGameLog(player_id = playerid, season = season)
    df_games = player_gamelog.get_data_frames()
    return df_games[0]

#creating a function to get a player's lifetime career in basketball
#type all_season_log(playerID using earlier function)
def all_season_log(playerid):
    gamelog_bron_all = playergamelog.PlayerGameLog(player_id = playerid, season = SeasonAll.all)
    df_bron_games_all = gamelog_bron_all.get_data_frames()
    return df_bron_games_all[0]

#creating a function to get a team's stats in basketball
#type bkb_teamlog(Team's ID using earlier function)

def bkb_teamlog(teamid):
    team_games = leaguegamefinder.LeagueGameFinder(team_id_nullable = teamid).get_data_frames()[0]
    return team_games

In [247]:
all_season_log(2544)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22021,2544,0022101119,"MAR 27, 2022",LAL @ NOP,L,42,14,27,0.519,...,8,9,5,0,1,4,1,39,-9,1
1,22021,2544,0022101072,"MAR 21, 2022",LAL @ CLE,W,41,17,29,0.586,...,9,10,12,1,1,3,0,38,9,1
2,22021,2544,0022101061,"MAR 19, 2022",LAL @ WAS,L,36,16,29,0.552,...,8,10,6,0,0,2,3,38,1,1
3,22021,2544,0022101051,"MAR 18, 2022",LAL @ TOR,W,45,15,26,0.577,...,5,9,7,0,2,3,2,36,-5,1
4,22021,2544,0022101039,"MAR 16, 2022",LAL @ MIN,L,37,8,21,0.381,...,5,5,4,1,2,5,5,19,-19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,22003,2544,0020300068,"NOV 07, 2003",CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
1361,22003,2544,0020300057,"NOV 05, 2003",CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
1362,22003,2544,0020300038,"NOV 01, 2003",CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
1363,22003,2544,0020300018,"OCT 30, 2003",CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
1364,22003,2544,0020300014,"OCT 29, 2003",CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0

In [ ]:
LA_lakers = bkb_teamlog(1610612747)
LA_lakers

In [248]:
columns = list(LA_lakers)
columns

['SEASON_ID',
 'TEAM_ID',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PLUS_MINUS']

In [ ]:
#Summary: 
# 1) player_id('Player's Name')
# 2) team_id('Team's Name')
# 1) game_log(playerid,season)
# 1) all_season_log(playerid)
# 1) bkb_teamlog(teamid)

In [244]:
bron_id = player_id('LeBron James')
chris_id = player_id('Chris Paul')
james_id = player_id('James Harden')

print(f"Lebron ID:       {bron_id}")
print(f"Chris Paul ID:   {chris_id}")
print(f"James Harden ID: {james_id}")

Lebron ID:       2544
Chris Paul ID:   101108
James Harden ID: 201935

In [ ]:
player_id('LeBron James')

In [ ]:
game_log(2544, 2021)

In [ ]:
#listing out all stats in headers (basically all columns)
bkb_stats = list(df's)
print(df_columns)